.content {
  border: 5px solid white;
  border-radius: 10px;
  display: flex;
  justify-content: center;

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px;
    width: 95%;
  }
}

