@import './../../styles/variables.scss';

.header {
  padding-top: 30px;
  padding-bottom: 15px;

  &__wrapper {
    border: 5px solid white;
    border-radius: 10px;
    background-color: #FFF3E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__img {
    position: relative;
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40px;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    width: 500px;

    li{
      padding: 5px 5px;
      text-align: center;

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100px;
        height: 30px;
        background-color: white;
        border: 2px solid transparent;
        font-family: $font-rob-cons;
        font-size: 16px;

        &:hover {
          border: 2px solid black;
          transition: 0.2s ease-in;
        }
      }
    }
  }

  &__btn {
    border-radius: 10px;
    ::before {
      content: '20000р';
      color: black;
      margin-right: 20px;


    }
  }
}